* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif, Bold, BlinkMacSystemFont, "Segoe UI", 'Times New Roman', Times, serif;
}

body {
  background: #f0fdf4;
  color: #1a1a1a;
}

input, select, button {
  font-family: inherit;
}